<h3 class="text-lg font-semibold">Contador</h3>
<h4 class="text-md">{{contador}}</h4>

<div class="flex flex-row gap-2 w-full justify-center">
    <button (click)="multiplicar()" class="bg-blue-700 text-white p-2 rounded-md">Multiplicar</button>
    <button (click)="dividir()" class="bg-gray-300 text-black p-2 rounded-md">Dividir</button>
</div>

<hr>

<div class="flex flex-row w-full justify-center">
  <div class="flex flex-col text-center content-center">
    <app-nieto [contador]="contador" (cambioContador)="updateContador($event)"></app-nieto>
  </div>
</div>
